extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        
        h1 Jennifer Trevillian 

        
        p Full Stack Software Engineer 


        .about-bio

          
          p Hello! My name is Jennifer, a Full Stack Software Engineer who loves Data.  


      .skills-contact-box.box
        h6 Skills

         
        ul
          li Interpersonal Skills 
          li Presentations 
          li Problem Solving 
          li JavaScript
          li HTML
          li CSS
          li React
          li Node.js
          li Express 
          li Pug 
          li Python 
          li SQL 
          li VS Code 
          li Git/GitHub
          

        h6 Contact Info
        
        ul
          li jcptrevillian@gmail.com
          li 555-555-5555

          
        a.btn-link(href='https://www.linkedin.com/in/jcptrevillian/') LinkedIn
        a.btn-link(href='https://github.com/JCPTrevillian') GitHub
        a.btn-link(href='https://jcptrevillian.com') Website 

    nav.nav
      a(href='/')
        span &larr;
        |  Back