extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- my amazing name 
        h1 Jennifer Trevillian 

        //- standard title because im unashamedly basic 
        p Full Stack JavaScript Developer


        .about-bio

          //- my most amazing elevator pitch
          p Hello! My name is Jennifer, a Java Script Full Stack Software Engineer. I am curious about all of the things all of the time. 


      .skills-contact-box.box
        h6 Skills

        //- skills that I want to highlight - such amazingness in one person. 
        ul
          li Interpersonal Skills 
          li Presentations 
          li Problem Solving 
          li JavaScript
          li HTML
          li CSS
          li React
          li Node.js
          li Express 
          li Pug 
          li Python 
          li SQL 
          li VS Code 
          li Git/GitHub
          

        h6 Contact Info
        //- my email address to contact me - I do not like phone calls so email is sufficient, I listed a nice fake phone number 
        ul
          li jcptrevillian@gmail.com
          li 555-555-5555

        //-URLs to the hrefs below to link to my professional social media accounts and my website to learn all about me online 
        a.btn-link(href='https://www.linkedin.com/in/jcptrevillian/') LinkedIn
        a.btn-link(href='https://github.com/JCPTrevillian') GitHub
        a.btn-link(href='https://jcptrevillian.com') Website 

    nav.nav
      a(href='/')
        span &larr;
        |  Back