extends layout.pug

block content

  article.grid-container.portfolio-intro
    div
    
    h1 Project Portfolio 

    p Showcasing some of the projects I built to earn my Full Stack JavaScript TechDegree
  
  article.grid-container.portfolio-index
    .projects-box.box.grid
      each proj in projects 
        .cell
           a(href=`/project/${proj.id}`)
             img.thumbnail(src=`${proj.image_urls[0]}`, alt=`Thumbnail of ${proj.project_name} project`, style="width:300px")
             h5 #{proj.project_name}

