extends layout.pug

block content

  article.grid-container.portfolio-intro
    div
    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!' 
    h1 TechDegree Project Portfolio 

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p This is a collection of the projects I created to earn my TechDegree. The skills/languages utilized demonstrate my understanding of the tools and languages taught. I am proud of this portfolio! 


  article.grid-container.portfolio-index
    .projects-box.box.grid

      //- Use the Pug `each` iterator to loop over the projects in your data file  
        //Pug code below and interpolated template literals as needed. 
         
      each proj in projects 
        .cell
           a(href=`/project/${proj.id}`)
            img.thumbnail(src=`${proj.image_urls[0]}`)
            h5 #{proj.project_name}

